<html>
    <head>
        <meta charset = "UTF = 8">
        <title>給与計算</title>
    </head>
    <body>
        <h2>情報入力</h2>
        <form method = "POST">
           [時給]:<br>
           <input type = "text" name = "hourlywage">
        <br>
           [労働時間]（時間で入力してください 例1.00時間）:<br>
           <input type = "text" name = "time">
        <br>
           [保険料]（ない場合は0と入力してください）:<br>
           <input type = "text" name = "tax">
        <br>
           <input type = "submit" name = "submit">
        <br>
        </form>
    </body>
</html>